@if (filters.hasAnyFilterSet()) {
  <div class="filter-display">
    <span jhiTranslate="entity.filters.set">Following filters are set</span>
    <jhi-icon icon="times" (click)="clearAllFilters()" title="{{ 'entity.filters.clearAll' | translate }}"></jhi-icon>
    <ul>
      @for (filterOption of filters.filterOptions; track filterOption.name) {
        @for (value of filterOption.values; track value) {
          <li>
            <span>{{ filterOption.name }}:</span> {{ value }}
            <jhi-icon
              icon="times"
              (click)="clearFilter(filterOption.name, value)"
              title="{{ 'entity.filters.clear' | translate }}"
            ></jhi-icon>
          </li>
        }
      }
    </ul>
  </div>
}
