<div class="card border-0 info-theme text-center mb-1" *ngIf="info">
    <div class="card-body">
        <div class="card-title" *ngIf="info.title">
            <h1>{{info.title}}</h1>
        </div>
        <div class="card-body">
            <h3>{{ info.brief }}</h3>
        </div>
        <div class="card-link border-0 text-right" *ngIf="!showMore">
                <button class="btn btn-primary btn-md" (click)="toggleShowMore()" >
                    <fa-icon [icon]="'eye'"></fa-icon> <span class="d-none d-md-inline">Learn more...</span>
                </button>
        </div>
        <div class="card-link border-0 text-right" *ngIf="showMore">
            <button class="btn btn-primary btn-md" (click)="toggleShowMore()" >
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span class="d-none d-md-inline">Hide</span>
            </button>
    </div>
    </div>
</div>
<div class="card info-theme ml-auto mr-auto" *ngIf="showMore">
    <div class="card-body">
        <div [innerHTML]="info.content" *ngIf="info.content"></div>
    </div>
</div>
