.info-theme {
    margin-top: -5px;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #005825;
    opacity: 0.85;
    text-align: center;
}

button {
    font-weight: 400;
}
jhi-icon {
    width: 20px;
    height: 14px;
}
