<div class="flex justify-center">
  <div class="col-8">
    @if (authority()) {
      <div>
        <h2 data-cy="authorityDetailsHeading"><span jhiTranslate="jojoaddisonApp.authority.detail.title">Authority</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="jojoaddisonApp.authority.name">Name</span></dt>
          <dd>
            <span>{{ authority()!.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" mat-flat-button color="accent" class="" data-cy="entityDetailsBackButton">
          <jhi-icon icon="arrow-left"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
    }
  </div>
</div>
