@if (slide) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(slide.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="slideDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-slide-heading" jhiTranslate="jojoaddisonApp.slide.delete.question" [translateValues]="{ id: slide.id }">
        Are you sure you want to delete Slide {{ slide.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <jhi-icon icon="ban"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-slide" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <jhi-icon icon="times"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
