<div class="footer container text-center ml-auto mr-auto mt-2">
    <div class="float-right">
        <!--
        <share-buttons [theme]="'modern-dark'"
            [include]="['facebook','twitter','linkedin','whatsapp','sms','email','print','copy']" [show]="3"
            [showText]="true" [showCount]="true" [url]="'https://www.jojoaddison.net/'" [autoSetMeta]="false"></share-buttons>
        -->
    </div>
    &copy;{{ footerDate | date:'yyyy' }} JojoAddison Information Systems Consultancy&reg; - All rights reserved.
</div>
