<div class="page-editor container mr-auto ml-auto mt-2" *ngIf="career">
    <div class="card blogbox bg-transparent">
        <div class="card-header text-center">
            <h2>{{career.name}}</h2>
            <span>{{career.department}}</span>
        </div>
        <div class="card-body databox">
            <div [innerHTML]="sanitize(career.description)"></div>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_USER'" class="card-footer text-right">
            <button type="submit" (click)="previousState()" class="btn btn-info" *ngIf="!embed">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" [routerLink]="['/career', career.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
