<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="about">
            <h2><span>About</span> {{about.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{about.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{about.content}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{about.language}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{about.createdDate}}</span>
                </dd>
                <dt><span>Modified Date</span></dt>
                <dd>
                    <span>{{about.modifiedDate}}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{about.lastModifiedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/about', about.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
