<div>
    <h2 id="page-heading">
        <span>Careers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-career" [routerLink]="['/career/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Career
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="careers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Department</span></th>
            <th><span>Created Date</span></th>
            <th><span>Modified Date</span></th>
            <th><span>Last Modified By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let career of careers ;trackBy: trackId">
                <td><a [routerLink]="['/career', career.id, 'view' ]">{{career.id}}</a></td>
                <td>{{career.name}}</td>
                <td>{{career.description}}</td>
                <td>{{career.department}}</td>
                <td>{{career.createdDate | date:'medium'}}</td>
                <td>{{career.modifiedDate | date:'medium'}}</td>
                <td>{{career.lastModifiedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/career', career.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/career', career.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'career', { outlets: { popup: career.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
