<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="page-editor container ml-auto mr-auto">
        <div class="card border-0 bg-transparent">
            <div class="card-header">
                <h2 id="jhi-career-heading">Career Management Editor</h2>
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col">
                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_name">Name</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                    [(ngModel)]="career.name" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_department">Department</label>
                                <input type="text" class="form-control" name="department" id="field_department"
                                    [(ngModel)]="career.department" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Description</label>
                                <jhi-editor [name]="'description'" [content]="career.description"
                                    (onDataChanged)="setContentChanged($event)"></jhi-editor>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
