<div class="mr-5 ml-5">
    <div class="row">
        <div class="col-6 page-editor">
            <div class="card border-0 bg-transparent">
                <div class="card-header">
                    <h2 id="page-heading">
                        <span>Slides</span>
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-slide"
                            (click)="create()">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down">
                                Create new Slide
                            </span>
                        </button>
                    </h2>
                    <jhi-alert></jhi-alert>
                </div>
                <div class="card border-0 px-3 py-3">
                    <div class="table-responsive data-view" *ngIf="slides">
                        <table class="table table-striped">
                            <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                                    [callback]="transition.bind(this)">
                                    <th jhiSortBy="title"><span>Title</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="description"><span>Description</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="photo"><span>Photo</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let slide of slides; trackBy: trackId">
                                    <td>{{ slide.title }}</td>
                                    <td>{{ slide.description }}</td>
                                    <td><img [src]="slide.url" alt="" width="100px" height="auto" /></td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit" (click)="view(slide)" class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">View</span>
                                            </button>
                                            <button type="submit" (click)="edit(slide)" class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Edit</span>
                                            </button>
                                            <button type="submit"
                                                [routerLink]="['/', 'slide', { outlets: { popup: slide.id + '/delete' } }]"
                                                replaceUrl="true" queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div *ngIf="slides && slides.length">
                        <div class="row justify-content-center">
                            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
                        </div>
                        <div class="row justify-content-center">
                            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <jhi-slide-detail [slide]="slide" [embed]="true" (onClose)="close()" *ngIf="slide && isView">
            </jhi-slide-detail>
            <jhi-slide-update [slide]="slide" [embed]="true" (onClose)="reload()" *ngIf="slide && isEdit">
            </jhi-slide-update>
            <jhi-slide-update [slide]="slide" [embed]="true" (onClose)="reload()" *ngIf="slide && isNew">
            </jhi-slide-update>
        </div>
    </div>
</div>
<!--
<div class="row-fluid justify-content-center" *ngIf="slides && slides.length > 0">
    <div class="col text-center">
        <div class="mr-auto ml-auto w-50">
            <jhi-slider [slides]="slides" (slideSelected)="onSlideSelected($event)"></jhi-slider>
        </div>
    </div>
</div>
-->
