<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="card bg-transparent">
        <div class="card-header text-center">
            <h2 id="jhi-contact-message-heading">Send us a message</h2>
        </div>
        <div class="card-body">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--
                            <div class="form-group" [hidden]="!contactMessage.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="contactMessage.id" readonly />
                            </div>
                        -->
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                    required
                    minlength="5"
                    maxlength="50"
                    pattern="^[_.@A-Za-z0-9-]*$"
                        [(ngModel)]="contactMessage.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="contactMessage.email"
                        minlength="5"
                        maxlength="254"
                        email
                        required />
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.pattern">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="contactMessage.title" required />
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_message">Message</label>
                    <!--
                    <input type="text" class="form-control" name="message" id="field_message"
                        [(ngModel)]="contactMessage.message" required />
                    -->
                    <jhi-editor [name]="'description'" [content]="contactMessage.message"
                    (onDataChanged)="setContentChanged($event)"></jhi-editor>
                    <div [hidden]="!(editForm.controls.message?.dirty && editForm.controls.message?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.message?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
