<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-service-heading" data-cy="ServiceCreateUpdateHeading" jhiTranslate="jojoaddisonApp.service.home.createOrEditLabel">
        Create or edit a Service
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jojoaddisonApp.service.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="jojoaddisonApp.service.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="jojoaddisonApp.service.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_photo" jhiTranslate="jojoaddisonApp.service.photo">Photo</label>
          <div>
            @if (editForm.get('photo')!.value) {
              <img
                [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
                style="max-height: 100px"
                alt="service"
              />
            }
            @if (editForm.get('photo')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <jhi-icon icon="times"></jhi-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="jojoaddisonApp.service.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate" jhiTranslate="jojoaddisonApp.service.modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="jojoaddisonApp.service.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" jhiTranslate="jojoaddisonApp.service.modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contact" jhiTranslate="jojoaddisonApp.service.contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_url" jhiTranslate="jojoaddisonApp.service.url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="jojoaddisonApp.service.document">Document</label>
          <div>
            @if (editForm.get('document')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('document')!.value!, editForm.get('documentContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ document: undefined, documentContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <jhi-icon icon="times"></jhi-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_document"
              data-cy="document"
              (change)="setFileData($event, 'document', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
          <input
            type="hidden"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            formControlName="documentContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentContentType" jhiTranslate="jojoaddisonApp.service.documentContentType"
            >Document Content Type</label
          >
          <input
            type="text"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            data-cy="documentContentType"
            formControlName="documentContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <jhi-icon icon="ban"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <jhi-icon icon="save"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
