<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactMessage">
            <h2><span>Contact Message</span> {{contactMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{contactMessage.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contactMessage.email}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{contactMessage.title}}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{contactMessage.message}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{contactMessage.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-message', contactMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
