<div>
  <h2 id="page-heading" data-cy="PrivilegeHeading">
    <span jhiTranslate="jojoaddisonApp.privilege.home.title">Privileges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jojoaddisonApp.privilege.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-privilege"
        [routerLink]="['/privilege/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jojoaddisonApp.privilege.home.createLabel">Create a new Privilege</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (privileges?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jojoaddisonApp.privilege.home.notFound">No Privileges found</span>
    </div>
  }

  @if (privileges && privileges.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.privilege.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.privilege.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.privilege.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (privilege of privileges; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/privilege', privilege.id, 'view']">{{ privilege.id }}</a>
              </td>
              <td>{{ privilege.name }}</td>
              <td>{{ privilege.createdDate | formatMediumDatetime }}</td>
              <td>{{ privilege.createdBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/privilege', privilege.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/privilege', privilege.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(privilege)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
