<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="page-editor container ml-auto mr-auto">
        <div class="card border-0 bg-transparent">
            <div class="card-header">
                <h2 id="jhi-portfolio-heading">Portfolio Management Editor</h2>
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col">
                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_name">Name</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                    [(ngModel)]="portfolio.name" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Description</label>
                                <jhi-editor [name]="'description'" [content]="portfolio.description"
                                    (onDataChanged)="setContentChanged($event)"></jhi-editor>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_photo">Photo</label>
                                <div>
                                    <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
                                        style="max-height: 100px;" *ngIf="portfolio.photo" alt="portfolio image" />
                                    <div *ngIf="portfolio.photo" class="form-text text-danger clearfix">
                                        <span class="pull-left">{{portfolio.photoContentType}},
                                            {{byteSize(portfolio.photo)}}</span>
                                        <button type="button"
                                            (click)="clearInputImage('photo', 'photoContentType', 'fileImage')"
                                            class="btn btn-secondary btn-xs pull-right">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                    <input type="file" id="file_photo"
                                        (change)="setFileData($event, portfolio, 'photo', true)" accept="image/*" />
                                </div>
                                <input type="hidden" class="form-control" name="photo" id="field_photo"
                                    [(ngModel)]="portfolio.photo" />
                                <input type="hidden" class="form-control" name="photoContentType"
                                    id="field_photoContentType" [(ngModel)]="portfolio.photoContentType" />
                            </div>
                            <div class="form-group form-inline">
                                <label class="form-control-label" for="field_status">Status </label><span>&nbsp;</span>
                                <input type="checkbox" class="form-control" name="status" id="field_status"
                                    [(ngModel)]="portfolio.status" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
