<div class="page-editor ml-5 mr-5">
    <div class="card border-0 bg-transparent">
        <div class="card-header">
            <h2 id="page-heading">
                <span>Portfolios</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-portfolio"
                    [routerLink]="['/portfolio/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Portfolio
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                                    name="currentSearch" placeholder="Query">
                                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                    <fa-icon [icon]="'search'"></fa-icon>
                                </button>
                                <button class="input-group-append btn btn-danger" (click)="clear()"
                                    *ngIf="currentSearch">
                                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="table-responsive" *ngIf="portfolios">
                    <table class="table table-striped">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                                [callback]="transition.bind(this)">
                                <th jhiSortBy="name"><span>Name</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="photo"><span>Photo</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="modifiedDate"><span>Modified Date</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="modifiedBy"><span>Modified By</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let portfolio of portfolios ;trackBy: trackId">
                                <td>{{portfolio.name}}</td>
                                <td>
                                    <a *ngIf="portfolio.photo"
                                        (click)="openFile(portfolio.photoContentType, portfolio.photo)">
                                        <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
                                            style="max-height: 30px;" alt="portfolio image" />
                                    </a>
                                    <span *ngIf="portfolio.photo">{{portfolio.photoContentType}},
                                        {{byteSize(portfolio.photo)}}</span>
                                </td>
                                <td>{{portfolio.modifiedDate | date:'medium'}}</td>
                                <td>{{portfolio.modifiedBy}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" [routerLink]="['/portfolio', portfolio.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">View</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/portfolio', portfolio.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/', 'portfolio', { outlets: { popup: portfolio.id + '/delete'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div *ngIf="portfolios && portfolios.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
                    </jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
