<div class="container ml-auto mr-auto mt-2 mb-2" *ngIf="portfolio">
    <div class="card blogbox bg-transparent">
        <div class="card-header text-center">
            <h4 class="display-6">{{portfolio.name}}</h4>
        </div>
        <div class="card-body databox">
            <div [innerHTML]="sanitize(portfolio.description)"></div>
        </div>
        <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
        style="max-width: 100%;" alt="portfolio image" class="card-bottom-img img-fluid" />
        <div *jhiHasAnyAuthority="'ROLE_USER'" class="card-footer">
            <div class="row">
                <div class="col text-left">
                    <dl>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{portfolio.createdDate}}</span>
                        </dd>
                        <dt><span>Modified Date</span></dt>
                        <dd>
                            <span>{{portfolio.modifiedDate}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span>{{portfolio.createdBy}}</span>
                        </dd>
                        <dt><span>Modified By</span></dt>
                        <dd>
                            <span>{{portfolio.modifiedBy}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-6 text-right"  *jhiHasAnyAuthority="'ROLE_USER'">
                    <button type="submit" (click)="previousState()" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button" [routerLink]="['/portfolio', portfolio.id, 'edit']" class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
