<div class="page-editor container ml-auto mr-auto" *ngIf="portfolio">
    <div class="card border-0 bg-transparent">
        <div class="card-header">
                        <h2><span>Portfolio Detail</span></h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col">
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <dl class="row-md jh-entity-details">
                            <dt><span>Name</span></dt>
                            <dd>
                                <span>{{portfolio.name}}</span>
                            </dd>
                            <dt><span>Status</span></dt>
                            <dd>
                                <span>{{portfolio.status === true ? 'Enabled' : 'Disabled'}}</span>
                            </dd>
                            <dt><span>Description</span></dt>
                            <dd class="bg-white databox">
                                <div [innerHTML]="sanitize(portfolio.description)"></div>
                            </dd>
                            <dt><span>Photo</span></dt>
                            <dd>
                                <div *ngIf="portfolio.photo">
                                    <a (click)="openFile(portfolio.photoContentType, portfolio.photo)">
                                        <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
                                            style="max-width: 100%;" alt="portfolio image" />
                                    </a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col text-left">
                    <dl>
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{portfolio.createdDate}}</span>
                        </dd>
                        <dt><span>Modified Date</span></dt>
                        <dd>
                            <span>{{portfolio.modifiedDate}}</span>
                        </dd>
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span>{{portfolio.createdBy}}</span>
                        </dd>
                        <dt><span>Modified By</span></dt>
                        <dd>
                            <span>{{portfolio.modifiedBy}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-6 text-right"  *jhiHasAnyAuthority="'ROLE_USER'">
                    <button type="submit" (click)="previousState()" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button" [routerLink]="['/portfolio', portfolio.id, 'edit']" class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
