<ngx-charts-bar-vertical 
[view]="view" 
[results]="histogramData" 
[scheme]="colorScheme" 
[customColors]="customColors" 
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[xAxis]="showXAxis" 
[yAxis]="showYAxis" 
[showGridLines]="showGridLines"
[roundDomains]="showRoundDomains"
[showXAxisLabel]="showXAxisLabel" 
[showYAxisLabel]="showYAxisLabel" 
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel" 
[trimXAxisTicks]="trimXAxisTicks"
[trimYAxisTicks]="trimYAxisTicks"
[maxXAxisTickLength]="maxXAxisTickLength"
[maxYAxisTickLength]="maxYAxisTickLength"
[xAxisTickFormating]="xAxisTickFormating"
[yAxisTickFormating]="yAxisTickFormating"
[xAxisTicks]="xAxisTicks"
[yAxisTicks]="yAxisTicks"
[showDataLabel]="showDataLabel"
[gradient]="gradient"
[activeEntries]="activeEntries"
[barPadding]="barPadding"
[tooltipDisabled]="tooltipDisabled"
[roundEdges]="roundEdges"
(select)="onSelect($event)">
</ngx-charts-bar-vertical>