<div class="row justify-content-center">
    <div class="col-8">
        <div class="page-editor">
            <div class="card border-0">
                <div class="card-header bg-primary">
                    <h2 id="page-heading">
                        <span>Information</span>
                        <button id="jh-create-entity"
                            class="btn btn-primary float-right jh-create-entity create-information"
                            [routerLink]="['/information/new']" *ngIf="!info">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down">
                                Create new Information
                            </span>
                        </button>
                    </h2>
                    <jhi-alert></jhi-alert>
                    <br />
                </div>
                <div class="card-body" *ngIf="info">
                    <div class="container-fluid mt-1 mb-1 head-info bg-transparent">
                        <div class="container">
                            <jhi-infobox [info]="info"></jhi-infobox>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-secondary" *ngIf="info">
                    <div class="row">
                        <div class="col-9">

                        </div>
                        <div class="col-3 text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/information', info.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/information', info.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/', 'information', { outlets: { popup: info.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>