<div>
  <h2 id="page-heading" data-cy="ContactHeading">
    <span jhiTranslate="jojoaddisonApp.contact.home.title">Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jojoaddisonApp.contact.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contact"
        [routerLink]="['/contact/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jojoaddisonApp.contact.home.createLabel">Create a new Contact</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (contacts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jojoaddisonApp.contact.home.notFound">No Contacts found</span>
    </div>
  }

  @if (contacts && contacts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="street">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.street">Street</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.city">City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="state">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.state">State</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="region">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.region">Region</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.country">Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.telephone">Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="whatsapp">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.whatsapp">Whatsapp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facebook">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.facebook">Facebook</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="twitter">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.twitter">Twitter</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="google">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.google">Google</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="youtube">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.youtube">Youtube</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModified">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.lastModified">Last Modified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appointment">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.appointment">Appointment</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="latitude">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.latitude">Latitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="longitude">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.longitude">Longitude</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.image">Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.contact.url">Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contact of contacts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a>
              </td>
              <td>{{ contact.title }}</td>
              <td>{{ contact.address }}</td>
              <td>{{ contact.street }}</td>
              <td>{{ contact.code }}</td>
              <td>{{ contact.city }}</td>
              <td>{{ contact.state }}</td>
              <td>{{ contact.region }}</td>
              <td>{{ contact.country }}</td>
              <td>{{ contact.telephone }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.whatsapp }}</td>
              <td>{{ contact.facebook }}</td>
              <td>{{ contact.twitter }}</td>
              <td>{{ contact.google }}</td>
              <td>{{ contact.youtube }}</td>
              <td>{{ contact.lastModified | formatMediumDatetime }}</td>
              <td>{{ contact.lastModifiedBy }}</td>
              <td>{{ contact.language }}</td>
              <td>{{ contact.appointment }}</td>
              <td>{{ contact.latitude }}</td>
              <td>{{ contact.longitude }}</td>
              <td>
                @if (contact.image) {
                  <a (click)="openFile(contact.image, contact.imageContentType)">
                    <img [src]="'data:' + contact.imageContentType + ';base64,' + contact.image" style="max-height: 30px" alt="contact" />
                  </a>
                  <span>{{ contact.imageContentType }}, {{ byteSize(contact.image) }}</span>
                }
              </td>
              <td>{{ contact.url }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/contact', contact.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(contact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
