<div>
  <h2 id="page-heading" data-cy="AboutHeading">
    <span jhiTranslate="jojoaddisonApp.about.home.title">Abouts</span>

    <div class="flex justify-end gap-2">
      <button mat-flat-button color="accent" (click)="load()" [disabled]="isLoading">
        <jhi-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></jhi-icon>
        <span jhiTranslate="jojoaddisonApp.about.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        mat-flat-button color="primary"
        class="create-about"
        [routerLink]="['/about/new']"
      >
        <jhi-icon icon="plus"></jhi-icon>
        <span jhiTranslate="jojoaddisonApp.about.home.createLabel">Create a new About</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (abouts?.length === 0) {
    <div class="rounded-lg border border-amber-300 bg-amber-50 px-4 py-3 text-amber-900" id="no-result">
      <span jhiTranslate="jojoaddisonApp.about.home.notFound">No Abouts found</span>
    </div>
  }

  @if (abouts && abouts.length > 0) {
    <div class="w-full overflow-x-auto" id="entities">
      <table class="w-full border-collapse text-left" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="flex items-center">
                <span jhiTranslate="global.field.id">ID</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.title">Title</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.content">Content</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.language">Language</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.createdDate">Created Date</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modifiedDate">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.modifiedDate">Modified Date</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="flex items-center">
                <span jhiTranslate="jojoaddisonApp.about.lastModifiedBy">Last Modified By</span>

                <jhi-icon class="p-1" icon="sort"></jhi-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (about of abouts; track trackId) {
            <tr data-cy="entityTable" class="border-b border-slate-200">
              <td>
                <a [routerLink]="['/about', about.id, 'view']" class="text-emerald-700 hover:underline">{{ about.id }}</a>
              </td>
              <td>{{ about.title }}</td>
              <td>{{ about.content }}</td>
              <td>{{ about.language }}</td>
              <td>{{ about.createdDate | formatMediumDatetime }}</td>
              <td>{{ about.modifiedDate | formatMediumDatetime }}</td>
              <td>{{ about.lastModifiedBy }}</td>
              <td class="text-right">
                <div class="inline-flex items-center gap-1">
                  <a [routerLink]="['/about', about.id, 'view']" mat-flat-button color="accent" data-cy="entityDetailsButton">
                    <jhi-icon icon="eye"></jhi-icon>
                    <span class="hidden md:inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/about', about.id, 'edit']" mat-flat-button color="primary" data-cy="entityEditButton">
                    <jhi-icon icon="pencil-alt"></jhi-icon>
                    <span class="hidden md:inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(about)" mat-flat-button color="warn" data-cy="entityDeleteButton">
                    <jhi-icon icon="times"></jhi-icon>
                    <span class="hidden md:inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (abouts && abouts.length > 0) {
    <div>
      <div class="flex justify-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="flex justify-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
