<div class="sidebar" >
    <button type="button" class="close round-btn float-left bg-primary" aria-label="close" [hidden]="!isHideSidebar"
        (click)="toggleHideSidebar()">
        <span aria-hidden="true"><i class="arrow right"></i></span>
    </button>
    <div class="card border-0 bg-transparent" *ngIf="!isHideSidebar">
        <div class="card-header header" [ngClass]="{'header-up': !isSidebarCollapsed, 'header-down': isSidebarCollapsed}"  *ngIf="title">
            <div class="row-fluid" id="headerTitlePanel">
                <!--
                <button type="button" class="close round-btn float-left bg-primary" aria-label="close" [hidden]="isHideSidebar"
                    (click)="toggleHideSidebar()">
                    <span aria-hidden="true"><i class="arrow left"></i></span>
                </button>
                <button type="button" class="close round-btn float-right bg-primary" aria-label="Close" [hidden]="isSidebarCollapsed"
                    (click)="toggleSidebarCollapse()">
                    <span aria-hidden="true"><i class="arrow up"></i></span>
                </button>
                <button type="button" class="close round-btn float-right bg-primary" aria-label="Close" [hidden]="!isSidebarCollapsed"
                    (click)="toggleSidebarCollapse()">
                    <span aria-hidden="true"><i class="arrow down"></i></span>
                </button>
                -->
                <h4 class="text-primary text-center" *ngIf="title">
                    <span>{{title}}</span>
                </h4>
            </div>
        </div>
        <div class="card-body border-1 border-primary bg-white" [hidden]="isSidebarCollapsed">
            <ul class="list-group list-group-flush" *ngIf="sidebarItems && sidebarItems.length > 0">
                <li class="list-group-item btn"  *ngFor="let item of sidebarItems"
                (click)="onClick(item)" [ngClass]="{'highlight': highlightSelected(item)}">
                    <span>{{item.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
