<form class="mt-5 mb-5" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="container page-editor">
        <div class="card bg-transparent">
            <div class="card-header">
                <h2 id="jhi-partner-heading">Partner Editor</h2>
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="card-body bg-white">
                <!--
                <div class="form-group" [hidden]="!partner.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="partner.id" readonly />
                </div>
                -->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="form-control-label" for="field_logo">Logo</label>
                            <div>
                                <img [src]="'data:' + partner.logoContentType + ';base64,' + partner.logo"
                                    style="max-height: 100px;" *ngIf="partner.logo" alt="partner image" />
                                <div *ngIf="partner.logo" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{partner.logoContentType}},
                                        {{byteSize(partner.logo)}}</span>
                                    <button type="button"
                                        (click)="clearInputImage('logo', 'logoContentType', 'fileImage')"
                                        class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_logo" (change)="setFileData($event, partner, 'logo', true)"
                                    accept="image/*" />
                            </div>
                            <input type="hidden" class="form-control" name="logo" id="field_logo"
                                [(ngModel)]="partner.logo" />
                            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                                [(ngModel)]="partner.logoContentType" />
                        </div>
                    </div>
                    <div class="col-8 p-3" style="border-left: 1px solid #333333;">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                [(ngModel)]="partner.name" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_contactPerson">Contact Person</label>
                            <input type="text" class="form-control" name="contactPerson" id="field_contactPerson"
                                [(ngModel)]="partner.contactPerson" required />
                            <div
                                [hidden]="!(editForm.controls.contactPerson?.dirty && editForm.controls.contactPerson?.invalid)">
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.contactPerson?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_streetAddress">Street Address</label>
                            <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                                [(ngModel)]="partner.streetAddress" />
                        </div>

                        <div class="form-group ">
                            <label class="form-control-label" for="field_postCode">Post Code</label>
                            <input type="text" class="form-control" name="postCode" id="field_postCode"
                                [(ngModel)]="partner.postCode" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_location">Location</label>
                            <input type="text" class="form-control" name="location" id="field_location"
                                [(ngModel)]="partner.location" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_country">Country</label>
                            <input type="text" class="form-control" name="country" id="field_country"
                                [(ngModel)]="partner.country" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_email">Email</label>
                            <input type="text" class="form-control" name="email" id="field_email"
                                [(ngModel)]="partner.email" required email/>
                            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.email?.errors?.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.email?.errors?.pattern">
                                    This field should follow pattern for "Email".
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_link">Website</label>
                            <input type="text" class="form-control" name="link" id="field_link"
                                [(ngModel)]="partner.link" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
