<div class="container ml-auto mr-auto mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card bg-transparent" *ngIf="partner" [style.max-width]="'400px'">
                <div class="card-header">
                    <h3><a [routerLink]="['/partner', partner.id, 'view' ]">{{partner.name}}</a></h3>
                </div>
                <div class="card-body text-left">
                    <div class="card-title">
                        <span>{{partner.contactPerson}}</span>
                    </div>
                    <span>{{partner.streetAddress}}</span><br>
                    <span>{{partner.postCode}} {{partner.location}}</span><br>
                    <span>{{partner.country}}</span><br>
                    <span><a [href]="partner.link" target="_blank">{{partner.link}}</a></span><br>
                    <span>{{partner.email}}</span><br>
                </div>
                <img [src]="'data:' + partner.logoContentType + ';base64,' + partner.logo" style="max-height: 200px;"
                    alt="partner image" class="card-bottom-img img-fluid" />
                <div class="card-footer text-right" *jhiHasAnyAuthority="'ROLE_USER'">
                    <button type="submit" [routerLink]="['/partner', partner.id, 'edit']"
                        class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>
                    <button type="submit" [routerLink]="['/', 'partner', { outlets: { popup: partner.id + '/delete'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
