<div class="container page-editor mt-3 mb-5">
    <div class="card bg-transparent">
        <div class="card-header">
            <h2 id="page-heading">
                <span>Partners</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partner"
                    [routerLink]="['/partner/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Partner
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="card-body">
                <div class="row justify-content-center">
                    <div class="card-deck" *ngIf="partners">
                        <div class="col-md-4 mb-3" [style.max-height]="'500px'" *ngFor="let partner of partners ;trackBy: trackId">
                            <div class="card bg-transparent">
                                <div class="card-header">
                                    <h3><a [routerLink]="['/partner', partner.id!, 'view' ]">{{partner.name}}</a></h3>
                                </div>
                                <div class="card-body bg-white">
                                    <div class="card-title">
                                        <span>{{partner.contactPerson}}</span>
                                    </div>
                                    <span>{{partner.streetAddress}}</span><br>
                                    <span>{{partner.postCode}} {{partner.location}}</span><br>
                                    <span>{{partner.country}}</span><br>
                                    <span><a [href]="partner.link" target="_blank">{{partner.link}}</a></span><br>
                                    <span>{{partner.email}}</span><br>
                                    <div class="text-center" *ngIf="partner.logo">
                                        <img [src]="'data:' + partner.logoContentType + ';base64,' + partner.logo"
                                                style="max-height: 100px;" alt="partner image"
                                                class="card-top-img img-fluid" />
                                        <br>
                                        <span *ngIf="partner.logo">
                                            {{partner.logoContentType}},
                                            {{byteSize(partner.logo)}}
                                        </span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group flex-btn-group-container">
                                        <a [routerLink]="['/partner', partner.id!, 'view' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">View</span>
                                        </a>
                                        <a [routerLink]="['/partner', partner.id!, 'edit']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </a>
                                        <a
                                            [routerLink]="['/', 'partner', { outlets: { popup: partner.id! + '/delete'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer mb-5">
            <h2 id="page-heading">
                <a id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partner"
                    routerLink="/partner/new">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Partner
                    </span>
                </a>
            </h2>
        </div>
    </div>
