.main {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    float: none;
    background: url('/content/images/background.jpg') repeat-y center center;
    background-size: cover;
}
