<div class="flex min-h-screen flex-col">
    <jhi-page-ribbon></jhi-page-ribbon>
    
    <!-- Explicitly including the navbar component instead of relying on named router-outlet -->
    <jhi-navbar></jhi-navbar>
    
    <main class="flex-grow">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="bg-transparent mt-auto text-center">
        <div class="row justify-content-center bg-primary p-3" *ngIf="cookieAccepted() === false">
            <div class="col text-center text-white">
                <h5 class="display-5">
                    <span>We use cookies to help tailor serve you better. &nbsp;</span>
                    <button class="btn btn-md btn-md-primary btn-outline-light" (click)="acceptCookies()">OK</button>
                </h5>
            </div>
        </div>
        <jhi-footer></jhi-footer>
    </footer>
</div>


