<div class="flex min-h-screen flex-col">
    <jhi-page-ribbon></jhi-page-ribbon>
    
    <!-- Explicitly including the navbar component instead of relying on named router-outlet -->
    <jhi-navbar></jhi-navbar>
    
    <main class="flex-grow">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="bg-transparent mt-auto text-center">
        <div class="flex flex-wrap justify-center bg-emerald-700 p-3" *ngIf="cookieAccepted() === false">
            <div class="flex-1 text-center text-white">
                <h5 class="text-4xl font-light">
                    <span>We use cookies to help tailor serve you better. &nbsp;</span>
                    <button mat-stroked-button color="primary" (click)="acceptCookies()">OK</button>
                </h5>
            </div>
        </div>
        <jhi-footer></jhi-footer>
    </footer>
</div>


