<h2 *ngIf="title">{{title}}</h2>
<ngx-carousel [inputs]="config" (carouselLoad)="init($event)" *ngIf="tiles && tiles.length > 0">
    <ngx-tile NgxCarouselItem *ngFor="let tile of tiles; let i = index;">
        <div class="wBg" [ngClass]="{'selected': tile.selected && showSelected}" (click)="toggleSelected(tile)">
            <span id="i" *ngIf="tile.selected == true && showSelected == true">
                    <jhi-icon icon="check-circle"></jhi-icon>
                </span>
            <h4 *ngIf="tile.title">{{ tile.title }}</h4>
            <div class="tile" [style.background-image]="'url(' + tile.url + ')'">
            </div>
        </div>
    </ngx-tile>
    <button NgxCarouselPrev class="left-arrow">&lt;</button>
    <button NgxCarouselNext class="right-arrow">&gt;</button>
</ngx-carousel>
