@if (contactMessage) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(contactMessage.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="contactMessageDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-contactMessage-heading"
        jhiTranslate="jojoaddisonApp.contactMessage.delete.question"
        [translateValues]="{ id: contactMessage.id }"
      >
        Are you sure you want to delete Contact Message {{ contactMessage.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <jhi-icon icon="ban"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-contactMessage" data-cy="entityConfirmDeleteButton" type="submit" mat-flat-button color="warn" class="">
        <jhi-icon icon="times"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
