<div class="sticky-nav-wrapper">
    <nav id="navbar" class="flex flex-wrap items-center justify-between bg-emerald-800 p-2 text-white shadow-lg z-50">
        <a class="flex items-center" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
        </a>
        <button class="md:hidden p-2 text-white" (click)="toggleNavbar()">
            <jhi-icon icon="bars"></jhi-icon>
        </button>
        <div class="hidden md:flex flex-grow items-center justify-end" [ngClass]="{'flex': !isNavbarCollapsed()}" id="navbarResponsive">
            <ul class="flex items-center space-x-2">
                <li class="nav-item">
                    <a mat-button routerLink="/" (click)="collapseNavbar()" routerLinkActive="bg-emerald-900" [routerLinkActiveOptions]="{ exact: true }">
                        <jhi-icon icon="home"></jhi-icon>
                        <span class="ml-1">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a mat-button routerLink="blog" (click)="collapseNavbar()" routerLinkActive="bg-emerald-900">
                        <jhi-icon icon="blog"></jhi-icon>
                        <span class="ml-1">Blog</span>
                    </a>
                </li>
                <!-- ... other links ... -->
            </ul>
        </div>
    </nav>
</div>
