@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 0.65em;
    color: $navbar-dark-color;
}

.profile-image {
    height: 1.75em;
    width: 1.75em;
}

.navbar {
    padding: 0.2rem 1rem;
    opacity: 0.95;
    background: #005825;
    color: #005825;
    z-index: 100;
    .dropdown-item {
        color: #005825;
        z-index: 100;
    }
    .dropdown-item:focus,
    .dropdown-item:hover {
        background-color: #005825;
        color: #ffff99;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #005825; //$dark;
        color: #ffff99;
    }
    ul.dropdown-menu {
        background-color: #ffff99;
    }
    ul.navbar-nav {
        color: #005825;
        z-index: 100;
        padding-left: 10px;
        padding-right: 10px;
        .nav-item {
            z-index: 100;
            margin-left: 0.5em;
            color: #005825;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }

    a.nav-link {
        font-weight: 400;
        background-color: #ffffff;
    }
    a:hover {
        background-color: #005825;
        border-color: #ffff99;
        color: #ffffff;
    }
    a:active {
        background-color: #005825;
        border-color: #ffff99;
        color: #ffffff;
        border: 1px solid #ffffff;
    }
    .navbar-toggler {
        &:hover {
            color: #ffff99; // $navbar-dark-hover-color;
        }
    }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
    height: 80px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/logo.jpg') no-repeat center center;
    background-size: contain;
}

.nav-item .nav-link {
    border-radius: 5px;
    color: #005825;
    opacity: 1;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
