<div class="page-editor ml-auto mr-auto w-50">
    <div class="card bg-transparent border-0">
        <div class="card-header">
                <h2 id="jhi-imprint-heading">Legal Notice Management</h2>
        </div>
        <div class="card-body">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <!--
                    <div class="form-group" [hidden]="!imprint.id">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                            [(ngModel)]="imprint.id" readonly />
                    </div>
                    -->
                    <div class="form-group">
                        <label class="form-control-label" for="field_title">Title</label>
                        <input type="text" class="form-control" name="title" id="field_title"
                            [(ngModel)]="imprint.title" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_content">Content</label>
                        <!--
                        <input type="text" class="form-control" name="content" id="field_content"
                            [(ngModel)]="imprint.content" />
                        -->
                        <jhi-editor [name]="'content'" [theme]="'silver'" [content]="imprint.content" (onDataChanged)="setContentChanged($event)"></jhi-editor>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_slides">Slides</label>
                        <!-- Sliderbox-->
                        <jhi-slide-selector [slides]="slides" (slideSelected)="onSlideSelected($event)" >
                        </jhi-slide-selector>
                        <hr>
                        <jhi-tilebox [tiles]="imprint.slides" (tileSelected)="onSlideSelected($event)" [title]="imprint.title"></jhi-tilebox>
                    </div>

                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
