<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="imprint">
            <h2><span>Imprint</span> {{imprint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{imprint.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{imprint.content}}</span>
                </dd>
                <dt><span>Slides</span></dt>
                <dd>
                    <span>{{imprint.slides}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{imprint.createdDate}}</span>
                </dd>
                <dt><span>Modified Date</span></dt>
                <dd>
                    <span>{{imprint.modifiedDate}}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{imprint.lastModifiedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/imprint', imprint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
