<div class="page-editor container mr-auto ml-auto">
    <div class="card border-0 bg-transparent">
        <div class="card-header" *ngIf="!imprints || imprints.length == 0">
            <h2 id="page-heading">
                <span>Imprints</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-imprint"
                    [routerLink]="['/imprint/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Imprint
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="card-body" *ngIf="imprints && imprints.length > 0">
            <jhi-imprint-detail [imprint]="imprints[0]" [embed]="true"></jhi-imprint-detail>
        </div>
    </div>
