/* ==========================================================================
Main page styles
========================================================================== */
@import '../../content/scss/bootstrap-variables';
.home {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.9;
    background: transparent;
}

.head-info {
    opacity: 0.96;
    width: 100%;
    text-align: center;
}
.slidebox {
    opacity: 0.96;
    height: 600px;
    width: 100vw;
}
.viewbox {
    opacity: 0.97;
    height: 400px;
    width: 100%;
}
#service {
    display: inline-block;
    width: 100%;
    height: auto;
    background: url('../../content/images/jojoaddison.svg') no-repeat left top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .jojoaddison {
        background: url('../../content/images/jojoaddison.svg') no-repeat center top;
        background-size: contain;
    }
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: #005825;
}

.bg-yellow {
    background-color: #e9e29b;
}

.widgetbox {
    background-color: rgba(220, 250, 233, 0.6);
    color: $primary;
    background-color: $info;
    border: 5px solid $primary;
    padding: 5px;
    opacity: 0.95;
    border-radius: 15px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 250, 200, 0.3) rgba(255, 240, 75, 0.9);
}

.databox {
    color: $primary;
    background-color: rgba(255, 255, 250, 0.9);
    overflow-y: auto;
}

.databox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 250, 0.9);
    box-shadow: inset 0 0 6px rgba(255, 255, 250, 0.9);
    border-radius: 5px;
    background-color: rgba(255, 255, 250, 0.3);
}

.databox::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(255, 250, 200, 0.3);
}

.databox::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 250, 200, 0.9);
    box-shadow: inset 0 0 6px rgba(255, 250, 200, 0.9);
    background-color: rgba(255, 250, 200, 0.3);
}
