<div class="home ml-auto mr-auto w-100" *ngIf="loaded">
    <!--Information Box -->
    <div class="container ml-auto mr-auto">
        <jhi-infobox [info]="info"></jhi-infobox>
        <!-- Sliderbox -->
        <jhi-slider [width]="1200" [height]="620" [slides]="slides"></jhi-slider>
        <!-- Services -->
        <div class="mr-5 ml-5">
            <div class="card-group mt-3">
                <div *ngFor="let service of services" class="col-md-4">
                    <div class="card widgetbox">
                        <div class="card-header">
                            <h4 class="card-title">{{ service.name }}</h4>
                        </div>
                        <div class="card-body text-left databox">
                            <div [innerHTML]="safeContent(service.description)"></div>
                        </div>
                        <img [src]="'data:' + service.photoContentType + ';base64,' + service.photo"
                        style="max-width: 100%;" alt="service image" class="card-bottom-img img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio -->
        <div class="card-group border-0 bg-transparent">
            <div *ngFor="let portfolio of portfolios" class="col-md-4">
                <div class="card widgetbox">
                    <div class="card-header">
                        {{portfolio.name}}
                    </div>
                    <div class="card-body databox">
                        <div [innerHTML]="safeContent(portfolio.description)"></div>
                    </div>
                    <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
                    style="max-width: 100%;" alt="portfolio image" class="card-bottom-img img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!-- Partner -->
    <jhi-partner-view [partners]="partners">
    </jhi-partner-view>
</div>
