<div class="home ml-5 mr-5" *ngIf="loaded">
    <div class="ml-auto mr-auto w-100">
        <!--Information Box -->
        <jhi-infobox [info]="info"></jhi-infobox>
        <!-- Sliderbox -->
        <jhi-slider [width]="1200" [height]="620" [slides]="slides"></jhi-slider>
        <!-- Services -->
        <jhi-service-view>
        </jhi-service-view>
        <!-- Portfolio -->
        <jhi-portfolio-view [portfolios]="portfolios">
        </jhi-portfolio-view>
        <!-- Partner -->
        <jhi-partner-view [partners]="partners">
        </jhi-partner-view>
    </div>
</div>
<!-- Footer -->
<div class="fixed-bottom">
    <jhi-footer></jhi-footer>
</div>
