<div>
    <h2 id="page-heading">
        <span>Staff</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-staff" [routerLink]="['/staff/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Staff
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="staff">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Date Of Birth</span></th>
            <th><span>Email</span></th>
            <th><span>Digital Address</span></th>
            <th><span>Street Address</span></th>
            <th><span>Postal Address</span></th>
            <th><span>Town</span></th>
            <th><span>District</span></th>
            <th><span>City</span></th>
            <th><span>Region</span></th>
            <th><span>Country</span></th>
            <th><span>Digital Profile</span></th>
            <th><span>Account Number</span></th>
            <th><span>Account Type</span></th>
            <th><span>Documents</span></th>
            <th><span>Created Date</span></th>
            <th><span>Modified Date</span></th>
            <th><span>Last Modified By</span></th>
            <th><span>Document Type</span></th>
            <th><span>Credential</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let staff of staff ;trackBy: trackId">
                <td><a [routerLink]="['/staff', staff.id, 'view' ]">{{staff.id}}</a></td>
                <td>{{staff.firstName}}</td>
                <td>{{staff.lastName}}</td>
                <td>{{staff.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{staff.email}}</td>
                <td>{{staff.digitalAddress}}</td>
                <td>{{staff.streetAddress}}</td>
                <td>{{staff.postalAddress}}</td>
                <td>{{staff.town}}</td>
                <td>{{staff.district}}</td>
                <td>{{staff.city}}</td>
                <td>{{staff.region}}</td>
                <td>{{staff.country}}</td>
                <td>
                    <a *ngIf="staff.digitalProfile" (click)="openFile(staff.digitalProfileContentType, staff.digitalProfile)">
                        <img [src]="'data:' + staff.digitalProfileContentType + ';base64,' + staff.digitalProfile" style="max-height: 30px;" alt="staff image"/>
                    </a>
                    <span *ngIf="staff.digitalProfile">{{staff.digitalProfileContentType}}, {{byteSize(staff.digitalProfile)}}</span>
                </td>
                <td>{{staff.accountNumber}}</td>
                <td>{{staff.accountType}}</td>
                <td>
                    <a *ngIf="staff.documents" (click)="openFile(staff.documentsContentType, staff.documents)">open</a>
                    <span *ngIf="staff.documents">{{staff.documentsContentType}}, {{byteSize(staff.documents)}}</span>
                </td>
                <td>{{staff.createdDate | date:'medium'}}</td>
                <td>{{staff.modifiedDate | date:'medium'}}</td>
                <td>{{staff.lastModifiedBy}}</td>
                <td>{{staff.documentType}}</td>
                <td>
                    {{staff.credential?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/staff', staff.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/staff', staff.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'staff', { outlets: { popup: staff.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
