<div class="flex justify-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-information-heading"
        data-cy="InformationCreateUpdateHeading"
        jhiTranslate="jojoaddisonApp.information.home.createOrEditLabel"
      >
        Create or edit a Information
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jojoaddisonApp.information.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="jojoaddisonApp.information.content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="jojoaddisonApp.information.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_brief" jhiTranslate="jojoaddisonApp.information.brief">Brief</label>
          <input type="text" class="form-control" name="brief" id="field_brief" data-cy="brief" formControlName="brief" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_linkText" jhiTranslate="jojoaddisonApp.information.linkText">Link Text</label>
          <input type="text" class="form-control" name="linkText" id="field_linkText" data-cy="linkText" formControlName="linkText" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_link" jhiTranslate="jojoaddisonApp.information.link">Link</label>
          <input type="text" class="form-control" name="link" id="field_link" data-cy="link" formControlName="link" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_url" jhiTranslate="jojoaddisonApp.information.url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="jojoaddisonApp.information.document">Document</label>
          <div>
            @if (editForm.get('document')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('document')!.value!, editForm.get('documentContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ document: undefined, documentContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <jhi-icon icon="times"></jhi-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_document"
              data-cy="document"
              (change)="setFileData($event, 'document', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
          <input
            type="hidden"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            formControlName="documentContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentContentType" jhiTranslate="jojoaddisonApp.information.documentContentType"
            >Document Content Type</label
          >
          <input
            type="text"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            data-cy="documentContentType"
            formControlName="documentContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <jhi-icon icon="ban"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          mat-flat-button color="primary" class=""
        >
          <jhi-icon icon="save"></jhi-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
