<div class="container ml-auto mr-auto">
    <div class="jumbotron headerbox">
        <h1 class="display-4">Services</h1>
    </div>
    <div class="card-group mt-3">
        <div *ngFor="let service of services" class="col-md-4">
            <div class="card widgetbox">
                <div class="card-header">
                    <h4 class="card-title">{{ service.name }}</h4>
                </div>
                <div class="card-body text-left databox">
                    <div [innerHTML]="safeContent(service.description)"></div>
                </div>
                <img [src]="'data:' + service.photoContentType + ';base64,' + service.photo"
                style="max-width: 100%;" alt="service image" class="card-bottom-img img-fluid" />
            </div>
        </div>
    </div>

</div>
