<div class="card-deck">
    <div *ngFor="let service of services" class="col-md-4">
        <div class="card mb-4" style="min-height: 400px; max-height: 400px; overflow-y: hidden;">
            <div class="card-body text-left">
                <h4 class="card-title">{{ service.name }}</h4>
                <div [innerHTML]="safeContent(service.description)"></div>
            </div>
            <img [src]="'data:' + service.photoContentType + ';base64,' + service.photo" style="max-width: 100%;" alt="service image" class="card-bottom-img img-fluid" />
        </div>
    </div>
</div>
