<div class="container ml-auto mr-auto mt-2 mb-2" *ngIf="service">
    <div class="card blogbox bg-transparent">
        <div class="card-header text-center">
            <h4 class="display-4">{{ service.name }}</h4>
        </div>
        <div class="card-body text-left databox">
            <div [innerHTML]="safeContent(service.description)"></div>
        </div>
        <img [src]="'data:' + service.photoContentType + ';base64,' + service.photo"
        style="max-width: 100%;" alt="service image" class="card-bottom-img img-fluid" />
        <div *jhiHasAnyAuthority="'ROLE_USER'" class="card-footer text-right">
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" [routerLink]="['/service', service.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
