<ngb-carousel *ngIf="slides && slides.length > 0" class="w-100">
    <ng-template ngbSlide *ngFor="let slide of slides ;trackBy: trackId" class="ml-auto mr-auto">
            <!--
             <div [style.width]="width" [style.height]="height" [style.background]="'url(' + slide.url + ')'"></div>
            -->
            <img [src]="slide.url" [width]="width" [height]="height" [alt]="slide.title" (click)="onClick(slide);" class="text-center">
           <div class="carousel-caption" *ngIf="slide.title">
                <h4>{{slide.title}}</h4>
           </div>
    </ng-template>
</ngb-carousel>
