<div class="container ml-auto mr-auto">
    <div class="card border-0 bg-dark mt-5" *ngIf="home">
        <div class="card-header bg-white">
            <h2><span>{{home.header}}</span></h2>
            <jhi-alert-error></jhi-alert-error>
        </div>
        <div class="card-body">
                <jhi-infobox [info]="home.information"></jhi-infobox>
                <jhi-slider [slides]="home.slides"></jhi-slider>
            <div class="row mt-3">
                <div class="col">
                    <dl class="jh-entity-details text-white">
                        <dt><span>Created By</span></dt>
                        <dd>
                            <span>{{home.createdBy}}</span>
                        </dd>
                        <dt><span>Modified By</span></dt>
                        <dd>
                            <span>{{home.modifiedBy}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="jh-entity-details text-white">
                        <dt><span>Created Date</span></dt>
                        <dd>
                            <span>{{home.createdDate | date: 'medium'}}</span>
                        </dd>
                        <dt><span>Modified Date</span></dt>
                        <dd>
                            <span>{{home.modifiedDate | date: 'medium'}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="jh-entity-details text-white">
                        <dt><span>Current</span></dt>
                        <dd>
                            <span>{{home.current}}</span>
                        </dd>
                        <dt><span>Version</span></dt>
                        <dd>
                            <span>{{home.version}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer bg-dark text-right">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/home', home.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>

</div>
