<div class="page-editor">
    <div class="card border-0">
        <div class="card-header bg-primary">
            <h2 id="page-heading">
                <span>Homes</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-home"
                    [routerLink]="['/home/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Home
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="card-body">
            <jhi-infobox [info]="info"></jhi-infobox>
            <div class="row-fluid justify-content-center">
                <div class="card-deck" *ngIf="homes">
                    <div class="card" *ngFor="let home of homes ;trackBy: trackId">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
