<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="row justify-content-center mt-2">
        <div class="col-8 page-editor">
            <div class="card border-0">
                <div class="card-header bg-primary">
                    <h2 id="jhi-home-heading">Create or edit a Home</h2>
                    <div class="pull-right">

                    </div>
                    <jhi-alert-error></jhi-alert-error>
                </div>
                <div class="card-body">
                    <ngb-tabset class="bg-transparent">
                        <ngb-tab title="Information">
                            <div class="form-group">
                                <label class="form-control-label" for="field_header">Header</label>
                                <input type="text" class="form-control" name="header" id="field_header"
                                    [(ngModel)]="home.header" />
                            </div>
                            <ng-template ngbTabContent *ngFor="let item of information; let i = index;">
                                <div class="card bg-light border-0">
                                    <div class="card-body">
                                        <div [ngClass]="{'selected': item.selected === true}">
                                            <span id="{{i}}" *ngIf="item.selected">
                                                <fa-icon icon="check-circle"></fa-icon>
                                            </span>
                                            <jhi-infobox [info]="item.info" (click)="setInfo(item);"></jhi-infobox>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Slides">
                            <ng-template ngbTabContent class="bg-transparent">
                                <!-- Sliderbox-->
                                <jhi-slide-selector [slides]="slides" (slideSelected)="onSlideSelected($event)">
                                </jhi-slide-selector>
                                <hr>
                                <jhi-tilebox [tiles]="home.slides" [showSelected]="true"
                                    (tileSelected)="onSlideSelected($event)" [title]="home.header"></jhi-tilebox>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Services">
                            <ng-template ngbTabContent>
                                <div class="table-responsive" *ngIf="services">
                                    <table class="table table-striped text-primary bg-info">
                                        <tbody>
                                            <tr style="cursor: pointer;" *ngFor="let service of services ;trackBy: trackId" (click)="selectService(service)"
                                                [ngClass]="{'bg-success text-info': isSelectedService(service)}">
                                                <td>{{service.name}}</td>
                                                <td class="text-center">
                                                    <img [src]="'data:' + service.photoContentType + ';base64,' + service.photo"
                                                            style="max-height: 30px;" alt="service image" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Portfolio">
                            <ng-template ngbTabContent>
                                <div class="table-responsive" *ngIf="portfolios">
                                    <table class="table table-striped bg-info text-primary">
                                        <tbody>
                                            <tr style="cursor: pointer;" *ngFor="let portfolio of portfolios ;trackBy: trackId" (click)="selectPortfolio(portfolio)"
                                                [ngClass]="{'bg-success text-info': isSelectedPortfolio(portfolio)}">
                                                <td>{{portfolio.name}}</td>
                                                <td>
                                                    <img [src]="'data:' + portfolio.photoContentType + ';base64,' + portfolio.photo"
                                                    style="max-height: 30px;" alt="portfolio image"  *ngIf="portfolio.photo"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Preview">
                            <ng-template ngbTabContent>
                                <div class="card bg-transparent border-0">
                                    <div class="card-body">
                                        <!--Information Box -->
                                        <jhi-infobox [info]="home.information"></jhi-infobox>
                                        <!-- Sliderbox -->
                                        <jhi-slider [width]="1200" [height]="620" [slides]="home.slides"></jhi-slider>
                                        <!-- Portfolio -->
                                        <jhi-portfolio-viewer [portfolios]="home.portfolios">
                                        </jhi-portfolio-viewer>
                                        <!-- Services -->
                                        <jhi-service-viewer [services]="home.services">
                                        </jhi-service-viewer>
                                        <!-- Partner -->
                                        <jhi-partner-viewer [partners]="home.partners">
                                        </jhi-partner-viewer>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
                <div class="card-footer bg-dark text-right">
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
