<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="row justify-content-center mt-2">
        <div class="col-8 page-editor">
            <div class="card border-0">
                <div class="card-header bg-primary">
                    <h2 id="jhi-home-heading">Create or edit a Home</h2>
                    <div class="pull-right">

                    </div>
                    <jhi-alert-error></jhi-alert-error>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer bg-dark text-right">
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
