<div class="container page-editor ml-auto mr-auto">
    <div class="card border-0">
        <div class="card-header bg-primary" *ngIf="homes && homes.length == 0">
            <h2 id="page-heading">
                <span>Homes</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-home"
                    [routerLink]="['/home/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
                        Create new Home
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
        </div>
        <div class="card-body bg-dark">
            <div class="justify-content-center">
                <div class="card-deck" *ngIf="homes">
                    <div class="card bg-dark" *ngFor="let home of homes ;trackBy: trackId">
                        <div class="card-header bg-white">
                            <jhi-infobox [info]="home.information"></jhi-infobox>
                        </div>
                        <div class="card-body">
                            <jhi-slider [slides]="home.slides"></jhi-slider>
                        </div>
                        <div class="card-footer bg-dark">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/home', home.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/home', home.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/', 'home', { outlets: { popup: home.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
