<div class="page-editor container ml-auto mr-auto">
    <div class="card border-0 bg-transparent" *ngIf="contact">
        <div class="card-header text-center">
            <h2 class="display-4">{{contact.title}}</h2>
        </div>
        <div class="card-body text-left text-primary">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngIf="contact.appointment">
                            {{contact.appointment}}&nbsp;
                        </li>
                        <li class="list-group-item" *ngIf="contact.address">
                            {{contact.address}}&nbsp; <span *ngIf="contact.street"> {{contact.street}} </span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.code">
                            {{contact.code}}&nbsp;<span *ngIf="contact.city">{{contact.city}}</span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.state">
                            {{contact.state}}&nbsp;<span *ngIf="contact.region">{{contact.region}}</span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.country">
                            {{contact.country}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.telephone">
                            <button class="btn btn-round btn-info btn-sm">
                                <fa-icon [icon]="'phone'"></fa-icon>
                            </button> {{contact.telephone}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.email">
                            <a [href]="'mailto:' + contact.email" class="btn btn-dark btn-sm">
                                <fa-icon [icon]="'at'"></fa-icon>
                            </a>
                            {{contact.email}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.whatsapp">
                            <button class="btn btn-round btn-success btn-sm">
                                <fa-icon [icon]="'user-friends'"></fa-icon>
                            </button>
                            <a [href]="'/#/social/' + contact.whatsapp">{{contact.whatsapp}}</a>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="btn-group flex-btn-group-container">
                                <a [href]="'/#/social/' + contact.facebook" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="contact.facebook">
                                    <fa-icon [icon]="'thumbs-up'"></fa-icon>
                                </a>
                                <a [href]="contact.google" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="'/#/social/' + contact.google">
                                    <fa-icon [icon]="'users'"></fa-icon>
                                </a>
                                <a [href]="contact.twitter" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="'/#/social/' + contact.twitter">
                                    <fa-icon [icon]="'retweet'"></fa-icon>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 text-white">
                    <div *ngIf="contact.image">
                        <a (click)="openFile(contact.imageContentType, contact.image)">
                            <img [src]="'data:' + contact.imageContentType + ';base64,' + contact.image"
                                style="max-width: 100%;" alt="contact image" />
                        </a>
                        <hr> {{contact.imageContentType}}, {{byteSize(contact.image)}}, url: {{contact.url}}
                    </div>
                    <hr>
                    <jhi-map [longitude]="contact.longitude" [latitude]="contact.latitude"></jhi-map>
                </div>
            </div>

        </div>
        <div class="card-footer text-right">
            <button type="submit" (click)="previousState()" class="btn btn-info" *ngIf="!embed">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>









<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{contact.title}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{contact.address}}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{contact.street}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{contact.code}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{contact.city}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{contact.state}}</span>
                </dd>
                <dt><span>Region</span></dt>
                <dd>
                    <span>{{contact.region}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{contact.country}}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{contact.telephone}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contact.email}}</span>
                </dd>
                <dt><span>Whatsapp</span></dt>
                <dd>
                    <span>{{contact.whatsapp}}</span>
                </dd>
                <dt><span>Facebook</span></dt>
                <dd>
                    <span>{{contact.facebook}}</span>
                </dd>
                <dt><span>Twitter</span></dt>
                <dd>
                    <span>{{contact.twitter}}</span>
                </dd>
                <dt><span>Google</span></dt>
                <dd>
                    <span>{{contact.google}}</span>
                </dd>
                <dt><span>Youtube</span></dt>
                <dd>
                    <span>{{contact.youtube}}</span>
                </dd>
                <dt><span>Last Modified</span></dt>
                <dd>
                    <span>{{contact.lastModified}}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{contact.lastModifiedBy}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{contact.language}}</span>
                </dd>
                <dt><span>Appointment</span></dt>
                <dd>
                    <span>{{contact.appointment}}</span>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{contact.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{contact.longitude}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="contact.image">
                        <a (click)="openFile(contact.imageContentType, contact.image)">
                            <img [src]="'data:' + contact.imageContentType + ';base64,' + contact.image" style="max-width: 100%;" alt="contact image"/>
                        </a>
                        {{contact.imageContentType}}, {{byteSize(contact.image)}}
                    </div>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{contact.url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
-->
