<div class="page-editor container ml-auto mr-auto">
    <div class="jumbotron headerbox" *ngIf="!contacts || contacts.length == 0">
        <h2 class="display-3" id="page-heading">
            <span>Contacts</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/contact/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down" >
                Create new Contact
                </span>
            </button>
        </h2>
    </div>
    <jhi-alert></jhi-alert>
    <jhi-contact-detail [contact]="contacts[0]" [embed]="true"></jhi-contact-detail>
</div>
