<div class="container ml-auto mr-auto mt-2 mb-2">
    <div class="card bg-transparent blogbox" *ngIf="contact">
        <div class="card-header text-primary text-center">
            <h2 class="display-4">{{contact.title}}</h2>
        </div>
        <div class="card-body text-left text-primary" style="overflow-y: auto;">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngIf="contact.appointment">
                            {{contact.appointment}}&nbsp;
                        </li>
                        <li class="list-group-item" *ngIf="contact.address">
                            {{contact.address}}&nbsp; <span *ngIf="contact.street"> {{contact.street}} </span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.code">
                            {{contact.code}}&nbsp;<span *ngIf="contact.city">{{contact.city}}</span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.state">
                            {{contact.state}}&nbsp;<span *ngIf="contact.region">{{contact.region}}</span>
                        </li>
                        <li class="list-group-item" *ngIf="contact.country">
                            {{contact.country}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.telephone">
                            <button class="btn btn-round btn-info btn-sm">
                                <fa-icon [icon]="'phone'"></fa-icon>
                            </button> {{contact.telephone}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.email">
                            <a [href]="'mailto:' + contact.email" class="btn btn-dark btn-sm">
                                <fa-icon [icon]="'at'"></fa-icon>
                            </a>
                            {{contact.email}}
                        </li>
                        <li class="list-group-item" *ngIf="contact.whatsapp">
                            <button class="btn btn-round btn-success btn-sm">
                                <fa-icon [icon]="'user-friends'"></fa-icon>
                            </button>
                            <a [href]="'/#/social/' + contact.whatsapp">{{contact.whatsapp}}</a>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="btn-group flex-btn-group-container">
                                <a [href]="'/#/social/' + contact.facebook" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="contact.facebook">
                                    <fa-icon [icon]="'thumbs-up'"></fa-icon>
                                </a>
                                <a [href]="'/#/social/' + contact.google" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="contact.google">
                                    <fa-icon [icon]="'users'"></fa-icon>
                                </a>
                                <a [href]="'/#/social/' + contact.twitter" class="btn btn-round btn-info btn-sm" target="_blank"
                                    *ngIf="contact.twitter">
                                    <fa-icon [icon]="'retweet'"></fa-icon>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h3 *ngIf="isSent" class="text-center bg-success text-white">
                        Message sent. Thank you for your message.
                    </h3>
                    <h3 *ngIf="isError" class="text-center bg-warning text-danger">
                        Error sending message. Please try again later.
                    </h3>
                    <jhi-messenger *ngIf="!isSent" [isVisible]="isVisible" [message]="message"
                    [isSending]="isSending" (onMessage)="sendMessage($event)"></jhi-messenger>
                    <div *ngIf="contact.image" class="mt-2">
                        <img [src]="'data:' + contact.imageContentType + ';base64,' + contact.image"
                                style="max-width: 100%;" alt="contact image" />
                    </div>
                    <jhi-map [longitude]="contact.longitude ?? 0" [latitude]="contact.latitude ?? 0"></jhi-map>
                </div>
            </div>
        </div>
    </div>
</div>
